[2017-03-12 00:38] sven-7 opened #1 "Testing Logs"
Hi @Dingmatt  -- I added a test library and AMSA (with ASS), but it didn't seem to go very well.  So much so, that I think there is probably something else affecting this, but here are the logs.

[AMSA Test.zip](https://github.com/Dingmatt/AMSA/files/836217/AMSA.Test.zip)

<img width="1559" alt="screen shot 2017-03-11 at 7 36 13 pm" src="https://cloud.githubusercontent.com/assets/18091557/23828050

[2017-03-12 01:14] Dingmatt commented on #1
@sven-7 Thanks for taking the time. The logs seems to suggest that its settings file (DefaultPrefs.json) is corrupt; that would also explain the other errors we're seeing.

Could you try replacing it with the fresh one in the zip attached (it goes in 'Plex Media Server\Plug-ins\Amsa_Test.bundle\Contents')?
[DefaultPrefs.zip](https://github.com/Dingmatt/AMSA/files/836238/DefaultPrefs.zip)

[2017-03-12 02:30] sven-7 commented on #1
No problem -- glad to help. I replaced that file, but the results are much of the same. Here is the next batch of logs (I have not looked through it just yet).

[com.plexapp.agents.amsa_test.log.zip](https://github.com/Dingmatt/AMSA/files/836256/com.plexapp.agents.amsa_test.log.zip)

[2017-03-12 03:27] Dingmatt commented on #1
@sven-7 thanks again and I've figured out the issue. I haven't yet coded HAMA's various additional modes (TvDB2, TvDB3, etc) into AMSA (was the next thing on my list) so its getting confused and is unable to find a match.

I'm working on a very basic fix now, it won't give full functionality but will allow it to grab some of the meta whilst I finalize the code.

[2017-03-12 03:49] Dingmatt commented on #1
@sven-7 could I trouble you to try this latest version, it probably won't be able correctly display the various custom modes (I'll get to that later) but it should be able to match correctly and show some meta data.
[Amsa_Test.bundle 201703120345.zip](https://github.com/Dingmatt/AMSA/files/836277/Amsa_Test.bundle.201703120345.zip)

[2017-03-12 04:26] sven-7 commented on #1
Here you go.  Similar results again.

If you want, I can remove those series from this test library.  Let me know -- happy to do so.

[com.plexapp.agents.amsa_test4.zip](https://github.com/Dingmatt/AMSA/files/836293/com.plexapp.agents.amsa_test4.zip)

[2017-03-12 05:08] Dingmatt commented on #1
@sven-7 if you happy to help me test until things work then by all means leave them in, here's my last version for tonight (I'll pick it up again tomorrow); if you get similar errors (think I know whats going on) then could you include a zipped version of your 'bundles' directory (\Plex Media Server\Plug-in Support\Data\com.plexapp.agents.amsa_test\DataItems\Cache\Bundles) as that will help me get

[2017-03-12 05:42] sven-7 commented on #1
No worries at all.  Here you go.

[Amsa5.zip](https://github.com/Dingmatt/AMSA/files/836307/Amsa5.zip)

[2017-03-12 12:04] Dingmatt commented on #1
@sven-7 Ok, it looks this the issues a little further forward in the process to what I was expecting. I'll reply once I've got something to test. Thanks again.

[2017-03-12 13:50] Dingmatt commented on #1
@sven-7 Well I've taken a look at the latest logs and found the cause. The way your files were being ignored by the agent as it was being a little too stringent about its absolute file naming, I've expanded this to include a broader scope.

Can you give this one a try for me, thanks in advance.
[Amsa_Test.bundle 201703121347.zip](https://github.com/Dingmatt/AMSA/files/836543/Amsa_Test.bundle.20170

[2017-03-12 19:03] sven-7 commented on #1
Okay, seeing some progress.  Here is a screen shot, the logs, and the bundles again.

[AMSA6.zip](https://github.com/Dingmatt/AMSA/files/836814/AMSA6.zip)

<img width="943" alt="screen shot 2017-03-12 at 3 03 19 pm" src="https://cloud.githubusercontent.com/assets/18091557/23834932/0cf1fa6e-0735-11e7-905e-77617c5da019.png">

[2017-03-12 19:21] Dingmatt commented on #1
@sven-7 yay good news. How are you specifying which series is using which custom mode (tvdb2, etc)? If its a file would you mind attaching an example (say for Berserk (2016))? That'll allow me to recreate the same file structure and sort thing out direct.

[2017-03-12 19:46] sven-7 commented on #1
I know! Good news indeed.

Yep, no problem! Here is the file list.  Within the tvdb2.id file I only have the TVDB code (in this case it is: 307111)

[code]

[2017-03-12 20:08] Dingmatt commented on #1
@sven-7 Ok seems like I still hadn't completely fixed the absolute file naming issue, I've completely reworked the matching pattern which should now work for 99% of circumstances.

For the record it ignores episodes which **don't** meet the following criteria (case insensitive):
- Includes 'SxxExx' in the filename, or
- Includes 'ncop' in the filename, or
- Includes 'op' in the filename, or
- Incl

[2017-03-12 20:25] sven-7 commented on #1
So...oddly enough, now AMSA doesn't show up as a plug-in. I'll see if it's a browser caching something weird.

[2017-03-12 21:04] Dingmatt commented on #1
@sven-7 Interesting. If it doesn't reappear let me know and I'll upload another version.

[2017-03-12 21:16] sven-7 commented on #1
Yeah, no luck. I probably won't have a chance to test until tomorrow again. Will test whatever latest version you list later.

[2017-03-12 21:24] Dingmatt commented on #1
@sven-7 My fault, managed to introduce a error when making the last change; didn't see it until I restarted my own Plex.

[Amsa_Test.bundle 201703122123.zip](https://github.com/Dingmatt/AMSA/files/836923/Amsa_Test.bundle.201703122123.zip)

[2017-03-12 21:49] sven-7 commented on #1
Okay, no worries. I'll run this (or if you update one) late tonight when I get home or in the morning.

So far, I'm just using a subset, library. My thoughts were to do my full library after that. As long as they're separate libraries, there shouldn't be any issue with HAMA and AMSA calling on the same files, right?

[2017-03-12 21:55] Dingmatt commented on #1
No there shouldn't be any issues, I've been running the Hama tests with that setup and haven't had a single problem.

You don't need to cause yourself any inconvenience, I'm just happy to get a bit of feedback and patch these issues; whenever your free is fine.

Thanks again.

[2017-03-12 22:17] sven-7 commented on #1
Not at all -- I'm happy to help. Not being technical, I figure being a tester is the best I can offer with development!

I'll run your latest version on the full library.

[2017-03-14 01:02] sven-7 commented on #1
Okay - had a chance to run this.  It seemed to work pretty well.  Seems like some errors are in the logs. It took forever.  I actually stopped it as it had been going for over an hour.  The logs unfortunately got too big and started overwriting themselves, but I grabbed two batches.

[AMSA Logs .zip](https://github.com/Dingmatt/AMSA/files/839983/AMSA.Logs.zip)

[2017-03-14 01:16] Dingmatt commented on #1
I know that TVDB's been having a few issues today and the logs you've attached seem to confirm that, more often than no the connection timing out or at best running at a crawl. It also looks like you might be suffering from a temporary AniDB ban (don't worry it'll lift after a few hours, a day at most; though power cycling your modem will likely fix it sooner as your IP will change), I've recently

[2017-03-14 01:39] sven-7 commented on #1
Been through the AniDB ban quite a few times. Happens when doing a whole library like this. I'll run a refresh again later. I've left the library in tact, so I'll monitor and upload more logs later. Let me know if you need anything else with it.

[2017-03-14 03:37] sven-7 commented on #1
Here is another.

[com.plexapp.agents.amsa_test.zip](https://github.com/Dingmatt/AMSA/files/840217/com.plexapp.agents.amsa_test.zip)

[2017-03-14 10:30] Dingmatt commented on #1
Hi @sven-7.

It looks like Plex has cached the banned AniDB response, I'll look into a way of sorting this in the agent (already have an idea) but in the meantime could you delete the contents of your '\Plex Media Server\Plug-in Support\Caches\com.plexapp.agents.amsa_test' directory.

[2017-03-14 20:43] sven-7 commented on #1
[com.plexapp.agents.amsa_test.zip](https://github.com/Dingmatt/AMSA/files/842633/com.plexapp.agents.amsa_test.zip)

[2017-03-14 20:59] Dingmatt commented on #1
@sven-7 Could you me a favour and try browsing to the following url, the logs still seem to suggest that you can't access AniDB but it'll be good to get confirmation of that.

[http://api.anidb.net:9001/httpapi?request=anime&client=amsa&clientver=1&protover=1&aid=7725 ](http://api.anidb.net:9001/httpapi?request=anime&client=amsa&clientver=1&protover=1&aid=7725 )

[2017-03-14 21:09] sven-7 commented on #1
Still banned.

[2017-03-14 21:10] Dingmatt commented on #1
It might be worth leaving it a few days so that isn't extended any further, the last thing I'd want to happen is have you unable to access metadata for your regular Plex libraries.

[2017-03-14 21:12] sven-7 commented on #1
I've had this happen before when adding the full library like that.  I'll delete it and add it in several pieces in a day or two so that I can avoid triggering the ban again.

[2017-03-14 21:16] Dingmatt commented on #1
I'll release a new version with a slightly longer AniDB Anti-Ban delay, in theory it should be once every 2 seconds but maybe its cutting it too close.

[2017-03-15 04:21] Dingmatt commented on #1
Hi Sven-7, Just thought I'd give you access to the latest version of the agent. This version has improved search / matching rates and speed as well as a slightly longer AniDB Anti-Ban delay.

[Amsa_Test.bundle_201703150418.zip](https://github.com/Dingmatt/AMSA/files/843431/Amsa_Test.bundle_201703150418.zip)

[2017-03-17 19:00] sven-7 commented on #1
I'll run some more tests this weekend.

[2017-03-19 05:59] begna112 commented on #1
I think i'm having related problems. I read above something about the strictness of the filename scanner. I refuse to rename my anime files from the original release names and I think others are the same way. Perhaps you should accommodate that naming scheme? Like so: [http://i.imgur.com/HSVuWPz.png](url)

My plex anime libary looks like this: [http://i.imgur.com/uBJotch.png](url)

Idk where to fi

[2017-03-19 08:41] Dingmatt commented on #1
@begna112 that shouldn't be a problem though the images you've linked don't work, could you send over a new set?

[2017-03-19 11:26] Dingmatt commented on #1
@sven-7 @begna112 Here's a new version for you to play around with, the changes are as follows:

- To correct an unrelated bug I've removed all file-naming restrictions.
- I've added the draft code for theme music (not active yet but will be in the next version)
- Corrected an issue cause slowdown to the metadata download

Please note that I haven't optimized the way the agent handles its data yet

[2017-03-20 07:43] begna112 commented on #1
I've updated to the new bundle but I'm still not getting images. It seems to still be doing something though as it's still got a little spinning icon sometimes. I'll update in the morning.

[2017-03-20 10:43] Dingmatt commented on #1
@begna112 If it still isn't working then can you send me over the bundle files and logs, they can be found in the following locations:

- Bundles - "Plex Media Server\Plug-in Support\Data\com.plexapp.agents.amsa_test\DataItems\Cache\Bundles"
- Logs - "Plex Media Server\Logs\PMS Plugin Logs" (com.plexapp.agents.amsa_test.log, one through to five)

Thanks,

[2017-03-20 23:18] namaless commented on #1
Many replies here but at the start I found the same problem. The maching working fine because the metadata it's true but the cover not working. If I can post everything please explain me what you need.

[2017-03-21 00:02] Dingmatt commented on #1
@namaless yes, its looking like theirs a common problem which I need to track down but with everyone helping me that shouldn't take too long.

Firstly can you ensure your using the latest version found here: [Amsa_Test.bundle_201703191117.zip](https://github.com/Dingmatt/AMSA/files/853144/Amsa_Test.bundle_201703191117.zip)

After that can you try a refresh within Plex and send me over the bundle f

[2017-03-21 21:23] begna112 commented on #1
Well, for one thing, @Dingmatt, the plugin is making that as a new folder here: \Plex Media Server\Plug-in Support\Data\com.plexapp.agents.amsa\DataItems\Cache (note without the "-test"). And there's no "bundles" folder in there.

Here's the cache though:
[Cache.zip](https://github.com/Dingmatt/AMSA/files/859684/Cache.zip)

And here's the logs:
[PMS Plugin Logs.zip](https://github.com/Dingmatt/AMS

[2017-03-21 21:56] namaless commented on #1
[Bundles.zip](https://github.com/Dingmatt/AMSA/files/859765/Bundles.zip)
[PMS Plugin Logs.zip](https://github.com/Dingmatt/AMSA/files/859769/PMS.Plugin.Logs.zip)
Now for me the cover working fine, I removed the association and made another one and the cover is ok, i post what you need. Ask me everything I can do :)

[2017-03-21 22:35] Dingmatt commented on #1
Hi @begna112, could you confirm if you've been using a cloned version of the v0.1.4 branch or the latest versions on this thread? also if you've ever had a previous version installed. The reason I ask is I've never seen Plex create a directory with a name different from the logging file, until now I though they were tied.

[2017-03-21 22:50] Dingmatt commented on #1
@namaless thanks nameless, I've managed to spot a potential bug in your logs which I'm going to correct (the hanfdeling of metadata for unreleased episodes). I'll also be releasing a new demo version soon with all the fixes from this thread and a few speed increases.

[2017-03-21 22:55] namaless commented on #1
@Dingmatt  Im a developer (you can see my profile here) but Im noob for plex, but you can ask me everything. Thanks for your hard work!

[2017-03-21 23:08] begna112 commented on #1
@Dingmatt I've been updating as you release new versions. I'll update to that version again to be sure.

[2017-03-21 23:10] Dingmatt commented on #1
@begna112 ok, if you can also check that your bundle directory (in the 'Plug-ins' folder) is called 'Amsa_Test.bundle', if not the rename it (you best restart plex after doing that).

[2017-03-21 23:59] begna112 commented on #1
\binhex-plexpass\Plex Media Server\Plug-ins :
http://i.imgur.com/Kk7cFif.png

\Plex Media Server\Plug-in Support\Data
http://i.imgur.com/AnIIjVR.png
(again, I completely deleted all the amsa stuff and it recreated it here.)

Is there some way in the UI to delete it entirely? I deleted these while plex wasn't running.

Still no show images. http://i.imgur.com/Q1QDwOV.png

[2017-03-22 00:52] Dingmatt commented on #1
Hi @begna112, did it create both the 'Data\com.plexapp.agents.amsa_test' and ''Data\com.plexapp.agents.amsa' directories (I'm assuming so looking at the created dates)?

There must be something off with the install, can you do the following "plugin dance" for me:

1. Stop Plex
1. Delete the Amsa.bundle from your 'plug-ins' directory.
1. Delete both Amsa directories from your 'plug-ins support/data

[2017-03-22 23:46] begna112 commented on #1
I'm seeing a bunch of these, and similar :

`2017-03-22 18:42:49,483 (2b5a8fa44700) :  CRITICAL (storage:89) - Exception writing to /config/Plex Media Server/Plug-in Support/Data/com.plexapp.agents.amsa_test/DataItems/Cache/AniDB\6970/6970.xml (most recent call last):
  File "/opt/plexmediaserver/Resources/Plug-ins-3b8374a5c/Framework.bundle/Contents/Resources/Versions/2/Python/Framework/component

[2017-03-22 23:48] begna112 commented on #1
In fact, when I do a directory list:

`root@Tower:/mnt/user/appdata/binhex-plexpass/Plex Media Server# ls -la
total 8
drwxrwxr-x 1 nobody users  330 Mar 22 18:37 ./
drwxrwxr-x 1 nobody users  106 Mar 12 21:17 ../
drwxrwxr-x 1 nobody users  270 Mar 22 18:37 Cache/
drwxrwxr-x 1 nobody users   84 Mar 21 18:16 Codecs/
drwxrwxr-x 1 nobody users   80 Mar 21 18:16 Crash\ Reports/
drwxrwxr-x 1 nobody user

[2017-03-22 23:50] Dingmatt commented on #1
@begna112 Ok now that makes sense, I didn't consider Linux when coding the static paths; I should be able to get a fix out for you pretty quickly.

[2017-03-22 23:54] begna112 commented on #1
I do suggest looking at those logs, though. There are a few places where I see some double \\ and multiple locations failing because of the slashes.

I'll test again once you've got the fix :)

[2017-03-23 03:02] Dingmatt commented on #1
Hi @begna112, can you try this version for me. Is should be OS agnostic as I've reworked and links / double slashes to work with the inbuilt python OS functions.

Many thanks,

[Amsa_Test.bundle_201703230233.zip](https://github.com/Dingmatt/AMSA/files/863508/Amsa_Test.bundle_201703230233.zip)

[2017-03-23 03:08] begna112 commented on #1
This looks promising! http://i.imgur.com/gEaPahJ.jpg

[2017-03-23 12:29] Dingmatt commented on #1
@begna112 @sven-7 @namaless If everyone's now getting at least an initial set of metadata I'm going to close this, we can create additional tickets for separate issue moving forward.

[2017-03-23 12:43] sven-7 commented on #1
Yes, on my last test I was. Will try the latest and open a ticket if anything pops up.

[2017-03-23 12:45] #1 closed

[2017-04-14 01:27] sven-7 opened #2 "AMSA Demo 6 Results"
@Dingmatt  -- sorry for some delays.  Here are the results of a first test.

- No Posters for 91 Days.  Season description, but no episode descriptions.
- No Match:  The Disastrous Life of Saiki K, Garo - The Crimson Moon, Mobile Suit Gundam - The Origin
- TVDB4 (Ushio and Tora, Bungo Stray Dogs) -- no posters or episode metadata
- TVDB3 (Gintama) - No episode titles or descriptions (Other TVDB3 s

[2017-04-14 11:10] Dingmatt commented on #2
@sven-7 Thanks for the feedback.
Its seems that the 91 Days  issue was caused by a bug in Python itself, I've included the documented work around so that should hopefully fix it.

As for the matches, they seem to work on my system so I'm going to assume that it was a cascading issue caused by the first bug; can you update to the version attached and try again for me.

[Amsa_Test.bundle_20170414120

[2017-04-14 21:25] sven-7 commented on #2
Bundles attached.

Re 91 Days - I wonder if I'm having that issue with HAMA as well.  I often run HAMA and no posters get pulled down on the first run.  After a refresh they do.  Is this the same?

RE TVDB3/4 - no worries, thanks for letting me know.

[Bundles.zip](https://github.com/Dingmatt/AMSA/files/922983/Bundles.zip)

[2017-04-14 21:27] Dingmatt commented on #2
@sven-7 I'll pass the info over to ZeroQI.

[2017-04-14 23:03] sven-7 commented on #2
Awesome! Yes, if you could pass that I think both could benefit.

I was careful not to add all shows at once to avoid the ban just in case, but it definitely worked smoothly and didn't ban me.

[2017-04-16 14:12] Dingmatt commented on #2
@sven-7 I'm going to close this as we can open issues for TvDB3/4 when I start coding there support.

[2017-04-16 14:12] #2 closed

[2017-04-30 23:34] begna112 opened #3 "Filename parsing / episode titles"
http://i.imgur.com/xYUuK9R.jpg

I forget where the logs are but I'd be happy to provide them.

files are named like: "M:\\Anime\\[DameDesuYo] Shingeki no Kyojin (Season 2)\\[DameDesuYo] Shingeki no Kyojin - 29 (1920x1080 10bit AAC) [9134A54A].mkv"

the episodes all get named "(10Bit"

[2017-04-30 23:38] begna112 commented on #3
Found your message about logs in previous issue. Here they are.
[AMSA-0.1.4-alpha-demo6-filename-parsing-issues.zip](https://github.com/Dingmatt/AMSA/files/967095/AMSA-0.1.4-alpha-demo6-filename-parsing-issues.zip)

[2017-04-30 23:40] begna112 commented on #3
Here's one from Kobayashi-san Chi no Maid Dragon

2017-04-15 13:41:12,583 (7fd89ce79700) :  DEBUG (runtime:717) - Handling request GET /system/agents/search?mediaType=2&id=1108&identifier=com.plexapp.agents.amsa_test&duration=-1&episodic=1&filename=%252Fdata%252FAnime%252F[DameDesuYo]%2520Kobayashi-san%2520Chi%2520no%2520Maid%2520Dragon%252F[DameDesuYo]%2520Kobayashi-san%2520Chi%2520no%2520Maid%25

[2017-05-01 13:21] Dingmatt commented on #3
Ok, first thing to check is whether you have "local media assets" enabled above the AMSA agent, if you do then any metadata contained within the file takes preference. Make sure your agents are set up like below.

![screenshot_20170501-141515](https://cloud.githubusercontent.com/assets/14905596/25580425/c196db3c-2e78-11e7-882c-4f52932477cc.jpg)

[2017-05-02 00:30] begna112 commented on #3
I actually don't see any of that in my list at all. http://i.imgur.com/blOs4ZV.png

[2017-05-02 09:15] Dingmatt commented on #3
Ok, now we've ruled that out I've looked through the logs and it seems that it might be the series scanner which is the part of the process which first detect and catalogs your files (then Plex passes that information to the meta agent).

I've attached a new version which includes the latest AMSA code as well as ZeroQ's latest ASS scanner version, try installing those (don't forget to restart Plex

[2017-05-08 14:55] Dingmatt commented on #3
Ok due to the lack of response I'm going to assume that the latest beta fixed the issue and close this ticket.

[2017-05-08 14:55] #3 closed

[2017-05-13 15:26] begna112 commented on #3
Sorry it's taken me so long to test this! I've been traveling a lot for work and missed the emails about it.

It's still updating, but it's definitely looking better.
http://i.imgur.com/DvN6q3i.png

However, is one of those lines where it says the episode number say the episode title?

[2017-05-13 15:33] begna112 commented on #3
Looks like I jumped the gun and that info gets added with the metadata pull from anidb. Though it does look like if you open the episode page before it finishes, it stops adding episode titles.

http://i.imgur.com/aNvLTA2.png

[2017-06-12 01:38] kisuka opened #4 "AttributeError: 'NoneType' object has no attribute 'find'"
[code]

[2017-06-19 20:15] moxz opened #5 "AMSA plug in does not start"
Hi I would like to help to try out this plugin but I can't get it to work with MY PMS on Ubuntu
Here is my log for the plugin https://pastebin.com/g8V4X195

[2017-06-19 20:22] Dingmatt commented on #5
@moxz This seems to be the same issue reported as the one found here:
[https://github.com/Dingmatt/AMSA/issues/4](https://github.com/Dingmatt/AMSA/issues/4)

I'm going to merge both tickets and work on it now, it seems one of the proxy API's have changed so the agents code needs updating.

[2017-06-19 20:22] #5 closed

[2017-06-19 21:38] Dingmatt commented on #4
@kisuka @moxz I've gone ahead and refreshed the demo release with a fix for this issue, please find it here [https://github.com/Dingmatt/AMSA/releases/tag/v0.1.4-alpha-demo7](https://github.com/Dingmatt/AMSA/releases/tag/v0.1.4-alpha-demo7).

If you have any further issues then please let me know.

[2017-06-19 21:38] #4 closed

[2017-06-20 09:08] moxz commented on #4
Works lika a charm for me now.

[2017-06-21 09:49] Dingmatt commented on #4
@moxz Good to hear, I've recently been forced into a bit of a development break for the agent due to rl work commitments but that's almost at an end; the next version will include a number of performance and caching changes, maybe even the release of a version 0.1.4 beta.

[2017-08-24 16:24] cokebar opened #6 "How to handle special for different seasons?"
E.G:
Season 1,2,3 all have OPs/EDs/SPs/PVs, could them be marked from different seasons

[2017-08-25 08:03] cokebar opened #7 "Could you please support other languages?"
For now it only support English

[2017-08-27 15:38] Dingmatt commented on #7
Hi,

The agent currently supports multilingual series and episode naming which can be selected from the setting menu.

![image](https://user-images.githubusercontent.com/14905596/29751445-540a61b8-8b45-11e7-9025-3dab534efe6e.png)

As for other meta information such as description, genre, etc its limited to the sources currently used, TVDB and AniDB are predominantly English sites so don't store mu

[2017-08-27 15:46] Dingmatt commented on #6
Hi,

At the moment its not possible as the agent makes use of [ZeroQI's ASS (scanner)](https://github.com/ZeroQI/Absolute-Series-Scanner) which doesn't have the functionality to split the OPs/EDs by season. Storing them anywhere other than the specials folder or using the NCOP/NCED/OP/ED naming convention will just result in them not getting detected.

I may create my own scanner at some point and

[2017-08-29 10:42] #6 closed

[2017-08-29 10:42] #7 closed

[2017-09-09 17:15] eversins commented on #7
If you could change the language on the library selection it would be great too, that way if it searches on TheTVDB etc it would get localized titles.

[2017-09-18 19:03] Pahiro opened #8 "Nice but.."
Only problem I have so far is any text after the title means I don't get a match. This includes the year sometimes. Doing manual matching for most of the stuff. And for the 1995 Ghost in the shell movie, even though I select the correct match from anidb manually, it keeps pulling the series data ie. Stand Alone Complex.

[2017-09-19 00:26] Dingmatt commented on #8
Hi @Pahiro.
Firstly can you tell me which version of the agent are you using? If its the latest demo then the search is title specific so adding additional details (such as the year) won't bring up additional matches, you can specify year within the 'search options'.

Also the agent doesn't currently cater for movies unless they're listed as one of the specials for a given series, the reason its m

[2017-09-19 04:34] Pahiro commented on #8
Using the latest demo/test version. Don't have a renamer for the downloads, which is causing the trouble. Doing a manual search does bring up the correct matches (after I remove the bad data) and stores them under specials as stated above. Also using the AS scanner. Folder structure is pretty simple at the moment. It's literally just as I get it from SABNzbd. Created an anime profile which moves i

[2017-09-19 23:14] Dingmatt commented on #8
Thanks for the details, that enough to go on. You're right about the filename and folder structure, your current setup will definitely hinder the agents ability to auto-match; with that in mind it might be worth trying the latest ASS version ([found here](https://github.com/ZeroQI/Absolute-Series-Scanner)) as its constantly improving and might make things easier for you.

As for the Ghost in the S

[2017-09-20 11:20] Pahiro commented on #8
Hama for some reason didn't want to bring through the posters. I'll double check chown for the data folders again and give it another shot. I'll keep an eye on yours as well though.

[2017-09-20 21:05] Dingmatt commented on #8
Good luck, it might be worth trying the Hama Beta as its got less setup issues.

[2017-09-20 21:05] #8 closed

[2017-10-02 04:39] WeslleyNasRocha opened #9 "Japanese Episode Titles"
I cant change the language of the episodes,
Anyway this can be made?

![Japanese episodes](https://user-images.githubusercontent.com/19312651/31064427-770a0a7c-a712-11e7-95f3-218c9951796c.png)

[2017-10-23 09:34] Dingmatt commented on #9
@WeslleyNasRocha Sorry for the delay in addressing this, I'll start looking in to his now.

[2018-01-24 06:58] Lazmarr opened #10 "Combining Films and Series Into One Library"
Is this possible with AMSA?
I cannot figure out how to get it to work correctly.
Any help with this is appreciated.

[2018-01-25 16:20] Dingmatt commented on #10
Hi @Lazmarr,

I'm afraid that AMSA can't currently retrieve metadata for films, its on the backlog but won't be attempted until the rest of the processes are working as expected.

If you need a agent which can do both then I'd recommend [HAMA](https://github.com/ZeroQI/Hama.bundle) for the time being.

[2018-01-28 10:22] #10 closed

[2019-05-23 05:35] Konack opened #11 "AniDB blocked generic useragents"
Roughly a week ago from this post AniDB blocked generic useragents which causes this to stop functioning. There is a thread discussing this for HAMA which should give some insight as to what's going on here https://github.com/ZeroQI/Hama.bundle/issues/309

[2020-02-06 10:54] Dingmatt commented on #11
Sorry for the long wait, I've just started to redevelop parts of this agent.

This is now corrected in v0.1.5 along with a few other issues

[2020-02-06 10:54] #11 closed

[2020-04-18 22:24] NinjaGundam opened #13 "ITA Support"
Hello, this plug-in is great to find all things on folders, but i have on in ITAlian folder structure..
Mainly the problem is with SEASON 1,2,3 etc in italian translated to STAGIONE 1,2,3
Is it possbile to add a multilanguage\additional string to seatch seasons even in those folders ?
Thx in advance

Chooo

[2020-05-04 17:59] eslamsidereel opened #14 "AMSA plug-in not showing in the agents panel"
I love this plugin. I have been using it for two years now, but after updating PMS to latest version 1.19.2.2737, amsa wont show up in the agents panel. I tried a fresh install but no luck.
this is my log file.
[Plex Media Server.log](https://github.com/Dingmatt/AMSA/files/4576314/Plex.Media.Server.log)

I don't know what's the problem. I hope you can help me fix this issue.

[2020-05-05 21:03] Dingmatt commented on #14
Hi Eslam,

I think I've spotted the issue and have released a [hotfix](https://github.com/Dingmatt/AMSA/releases/tag/v1_0_1).

I'd advise trying to update to v1.01 and seeing if that corrects the issue, please ensure you also remove the 'Amsa_Test.bundle' folder from the plugins folder as it might cause a conflict.

When updating from the demo versions then be prepared for a full library refresh,

[2020-05-05 21:15] Dingmatt commented on #13
Hi NinjaGundam,

I've gone ahead and added STAGIONE to the whitelist of season folders' names, this will be included in future releases but you can easily patch the file but overwriting the 'Plex Media Server\Scanners\Series\Absolute Series Scanner.py' with the one in the zip attached.

[Absolute Series Scanner.zip](https://github.com/Dingmatt/AMSA/files/4583630/Absolute.Series.Scanner.zip)

[2020-05-05 21:35] eslamsidereel commented on #14
Thank you for replying.
I installed v1.01, made sure to delete 'Amsa_Test.bundle' folder from the plugins folder and made sure that 'com.plexapp.agents.amsa' is correctly named in '\Plug-in Support\Caches', But the issue still persist .
Here the log after installing v1.01
[Plex Media Server.log](https://github.com/Dingmatt/AMSA/files/4583703/Plex.Media.Server.log)
![01](https://user-images.githubu

[2020-05-05 21:53] NinjaGundam commented on #13
**Glad to hear, many thx for this!!!**

There is another thing that bug me..  when you have anime season, op\ed and oav..
Having Season 0 displayed in plex with inside (OP\ED\Oav Movies) is bad.
Isn't there a way to put OP\ED\Extra with label "Extra" instead to put all in Season 0 ?
Would be nice to have each folder on plex for everysingle OAV or if you have more OAV like 1,2,3
u we have to rename

[2020-05-09 15:09] Dingmatt commented on #14
Hi Eslam,

It seems your AMSA install isn't starting for some reason, would you mind sending me your 'com.plexapp.agents.amsa.log' file, found at 'Plex Media Server\Logs\PMS Plugin Logs'.

I'll see if that can shine any light on the issue.

[2020-05-09 18:52] eslamsidereel commented on #14
Here is my AMSA log file.
[com.plexapp.agents.amsa.log](https://github.com/Dingmatt/AMSA/files/4604311/com.plexapp.agents.amsa.log)

[2020-05-10 13:25] Dingmatt commented on #14
Hi Eslam,

Thank you for that log, it's helped me diagnose the issue. Please try this [hotfix](https://github.com/Dingmatt/AMSA/releases/tag/v1_0_2), it should correct the problem.

[2020-05-10 13:37] Dingmatt commented on #13
Hi NinjaGundam,

I'm afraid that's outside the scope of this plugin, which is designed as an anime meta agent for the existing Plex folder structure. If you're interested in a custom structure then I can recommend [HAMA](https://github.com/ZeroQI/Hama.bundle), which has many of the same features as ASMA but also deals with custom folders.

[2020-05-10 13:37] #13 closed

[2020-05-10 16:22] eslamsidereel commented on #14
Thank you very much. 😍 The hotfix 1.0.2 solved the issue. Amsa showed up in the agents folder. I am now resuming rebuilding my anime library.

[2020-05-10 18:58] #14 closed

[2020-05-10 19:51] eslamsidereel opened #15 "Feature request: more metadata sources"
It would be great if AMSA could pull anime info from other metadata sources like: Myanimelist.net, Anilist.co or Kitsu.
As AniDB and TVDB sometimes matches the wrong anime. And sometimes pulls the wrong poster.
I found this agent "AniList.bundle" but in case of episode titles, banners and anime themes, it's not as good as AMSA.
Personally, I am using anilist to manage my lists, Kodi as a player, T

[2020-08-17 23:39] myhe01 opened #16 "AMSA not populating metadata."
[Plex Media Scanner.log](https://github.com/Dingmatt/AMSA/files/5087294/Plex.Media.Scanner.log)
[com.plexapp.system.log](https://github.com/Dingmatt/AMSA/files/5087295/com.plexapp.system.log)

Please forgive me, as I was only able to find two of the required six logs.

![image](https://user-images.githubusercontent.com/28101069/90454153-6b7e3f80-e0c0-11ea-81de-205dc76c7b6b.png)
(I didn't see a `Lo

[2020-08-28 02:43] Dingmatt commented on #16
Hi @myhe01,

I believe I've tracked down the issue, please try the latest [hotfix](https://github.com/Dingmatt/AMSA/releases/tag/v1_0_3) and see if that correct your issue.

Regards,

[2020-08-28 03:00] #9 closed

[2020-09-04 17:45] #16 closed

[2020-09-05 11:28] tmartin357 opened #17 "API Exception in `functions.py`"
AMSA crashes when a Plex API call is made

Log:
[code]

Changing line 111 in Plug-ins\Amsa_Test.bundle\Contents\Code\functions.py to this seems to fix the problem:
`result = XML.ElementFromString(result, max_size=5248463)`

[2020-09-05 11:34] tmartin357 commented on #17
Correction: Changing the `max_size` to something like `9999999` seems to band-aid the problem.

[2020-09-05 13:11] Dingmatt commented on #17
This issue was also addressed in the latest hotfix ([v1.0.3 Hotfix](https://github.com/Dingmatt/AMSA/releases/tag/v1_0_3)), where we swapped to lxml for xml parsing. It's nice to think we've now got so much anime available that it's overflowing code

[2020-09-05 13:11] #17 closed

[2020-09-13 17:02] mokin009x opened #18 "Using AMSA with other plugins"
Hi AMSA solves a lot of problems for me compared to what I previously used for my anime library. But I have just one problem/Request. If possible I Would like ASMA to be able to use Sub Zero the Subtitle plugin. Because that plugin extracts embedded subtitles for me and converts them to .srt files. that's what I need.

this problem is hard to explain in words so I will include 2 pictures.

![pic1]

[2020-09-14 20:38] Dingmatt commented on #18
Here's the steps you'll need follow to add SubZero:

1. Browse to the AMSA Code directory (\Plug-ins\Amsa.bundle\Contents\Code)
1. Open '`__init__.py`' in a text editor
1. On line 35 you'll find the following:
`accepts_from = ["com.plexapp.agents.localmedia"]`
Change it to:
`accepts_from = ["com.plexapp.agents.localmedia","com.plexapp.agents.subzero"]`
**warning the file's syntex sensitive, the sp

[2020-09-16 21:21] mokin009x commented on #18
Yes, this fixed thank you so much.

[2020-09-16 21:24] #18 closed

[2021-04-18 18:52] chudkins opened #20 "Add helpful example to installation section of README"
Step 2 says, "Place the content of the zip into your Plex Media Server directory."  For someone who has never installed a third-party agent before, this is not clear enough and could easily be mistaken for the program's installation directory.  I suggest amending this to be more like your Reddit post from a few years back, where you gave the actual location.

I propose something like this:

[2021-04-21 21:08] gacekssj4 opened #21 "How does directory structure detection works (if it works)"
Hello, I do not know if its bug or my misconfiguration. I did all according to settings.

I created folder according to README.md and it looks as follows
[code]
This series is being displayed in main view, but as "Collection" (under it there is `1 Series`).

On the other hand I have
[code]
And in main view Beastars display as "Serie" (under it it says there are 2 seasons).

Why is it being detecte

[2021-04-23 17:05] gacekssj4 commented on #21
Sorry to bother you @Dingmatt Could you help? :)

[2021-04-24 22:20] Dingmatt commented on #21
AMSA is set up to use the Plex file naming structure, so while some deviation is usually fine, it's best to stick to the default asides from special cases like OP's and ED's (opening and endings).

So to quote the readme, your structure should follow:

     /Golden Kamuy
        /Season 1
           Golden Kamuy - S01E01 - [Episode Name]
           Golden Kamuy - S01E02 - [Episode Name]

[2021-04-24 22:28] Dingmatt commented on #20
While I'd like to be more specific, it'd ultimately be unhelpful to specify a particular path as is completely depends directory selected during installation

[2021-04-24 22:28] #20 closed

[2021-04-29 22:34] #21 closed

[2021-05-06 18:27] entisocial opened #22 "Issue when matching OVA"
Hello, I have several series that also have OVA and weird things happen, for instance I have 2 folders for 2 entries:
- Hyouka
- Hyouka Motsubeki Mono wa

The second one is an OVA.
If I try to match or fix match the OVA with its proper anidb entry it will get renamed as Hyouka (instead of Hyouka: Motsubeki Mono wa) but is still separated from the main Hyouka (as it should). The OVA and the main se

[2021-05-06 19:44] Dingmatt commented on #22
As AMSA follows the Plex series structures (almost identical to TVDB), the Hyouka Motsubeki Mono wa (aka Hyouka: What Should Be Had) OVA isn't considered a series in its own right; it's episode 11.5, though as far as Plex is concerned it's the Hyouka Special #1.

You've two options:
1. Use the Anidb entry and manually rename the extra series / choose a different poster (it's not how AMSA's designe

[2021-05-06 19:44] #22 closed

[2021-06-27 00:55] ThomasRunting opened #24 "Anime list corrections url is incorrect"
i just updated to the newset build and it looks like the url that pulls the anime-l;ist-corrections.xml is wrong.

[code]
looks like is calling this http://raw.githubusercontent.com/Dingmatt/AMSA/master/Plug-in%20Support/Data/com.plexapp.agents.amsa/DataItems/anime-list-corrections.xml

insted of this https://raw.githubusercontent.com/Dingmatt/AMSA/master/Plug-in%20Support/Data/com.plexapp.agents.

[2021-08-20 18:48] Samega7Cattac opened #25 "Agent error on start up"
The agent doesn't start up.
[code]

[2021-08-20 20:51] Dingmatt commented on #25
Hi,

That's certainly a new one for me. Looking at the path, I'm assuming you're using some Linux distribution? If that's the case then can you make sure plex has the ability to write to its own 'Server/Plug-in Support/Data/' folder, the Permission denied error seems to indicate that it's a folder permissions issue.

Regards,

[2021-08-21 02:07] daomengRen opened #26 "TVDB"
Hello, is TVDB obtained through API? Does TVDB still support the free API applied for? Thank you

[2021-08-21 15:11] Dingmatt commented on #26
The TVDB info is obtained through their api via a legacy key, this key is still active but TVDB will be revoking it at some point in 2021, at that point users will have to subscribe to TVDB via a personal licence which they'll be able to enter into the AMSA settings.

I'll be keeping my eyes open for other metadata sources to add to the plugin in order to compensate, though AniDB will be able to p

[2021-08-31 07:07] #26 closed

[2021-09-29 23:37] #24 closed

[2021-10-22 18:27] foxmajik opened #27 "There is no agent to select"
I can select scanner to "Absolute Series Scanner" but after that the only options for agent are:

Personal Media Shows
TheTVDB
Plex TV Series
The Movie Database

I followed all of the instructions in the readme and restarted the server.

[2021-12-06 00:55] winceptor commented on #27
I noticed same issue, but when i added yet another agent it suddenly appeared. Maybe try restarting plex a few times.

[2021-12-06 22:31] foxmajik commented on #27
It eventually started showing up after a couple of restarts, but then the agent destroyed my library by replacing hundreds of shows and movies I had already set correct metadata for with obscure, wrong Japanese movie and show titles and metadata.

So I pretty obviously removed it and rolled back my database.

Note to self: Only use this agent for libraries that only contain japanese content.

[2021-12-06 22:32] #27 closed

[2021-12-13 05:40] lavavex opened #28 "AMSA not being loaded (Plex 1.25.1.5286 Ubuntu Linux x64 20.04 LTS)"
AMSA doesnt work with clean plex install on linux. logs indicate the plugin times out or errors out causing plex to stop the plugin
[Plex Logs.zip](https://github.com/Dingmatt/AMSA/files/7701253/Plex.Logs.zip)
.

[2022-01-17 15:34] n0v3xx commented on #28
@Dingmatt Is that plugin here dead?
And how can i install it? There a few folders under /var/lib/plexmediaserver/Library/Application Support/Plex Media Server/ ...

[2022-02-05 08:42] BinXia opened #29 "Posters and banners cannot be loaded"
AMSA is a wonderful plug-in for PLEX and I really appreciate the contribution of the authors.
However, I'm wondering if posters and banners of animes cannot be pulled from aniDB (only titles work). Is this problem with my network connection or the API of aniDB?

[2022-02-05 08:43] BinXia commented on #29
![QQ20220205-163711](https://user-images.githubusercontent.com/8417171/152634949-ebb0cf7c-c011-45fc-85fb-326a08794db9.png)
)

[2022-02-08 00:35] Dingmatt commented on #29
Hi BinXia,

Most aniDB issues are simply a temporary soft-ban from the API, this can happen if you add a large library all at once or share an IP with other users. Though it's not a big issue, just wait 24 hours and try refreshing the metadata for the series affected.

If it's a large number of series then you can tell plex to refresh the metadata for that entire library, AMSA is smart enough to a

[2022-02-08 00:39] Dingmatt commented on #28
Hi Lavavex,

I don't run the plugin on linux myself but looking at the log it seems you're suffering from a permissions issue. You'll need to makes sure that plex has access privilages to it's own directories, for AMSA that's specifically '/var/lib/plexmediaserver/Library/Application Support/Plex Media Server/Plug-in Support/Data/com.plexapp.agents.amsa'.

Regards,

[2022-02-15 15:14] Echizen67100 opened #30 "Amsa.bundle deleted by plex on start"
Hi, on windows 10 when i start plex the Amsa.bundle directory is deleted. How can i do ?

Thanks and have a nice day.

[2022-02-15 15:49] #28 closed

[2022-02-15 15:50] #29 closed

[2022-02-15 21:00] Dingmatt commented on #30
Hi Echizen67100,

I'm afraid that's not normal behaviour, the best I could advise is to check it's installed into the correct directory (should be in 'Plex Media Server\Plug-ins\Amsa.bundle'). If it is then there must be something else on your system that's causing the problem.

Regards,

[2022-03-06 16:51] #30 closed

[2022-04-17 21:34] golddragon007 opened #31 "Metadata and posters are not loaded"
When now I place a new series or I have an old series it does not fill the metadata information and doesn't download the posters, it detects the anime, I see the AniDB ID after the title, but nothing else happens.

Plex version: 1.25.6.5577
Addon version: 1.06

i.e.
Hakozume: Kouban Joshi no Gyakushuu [anidb-16503]
Fantasy Bishoujo Juniku Ojisan to [anidb-16325]

[2022-04-25 14:40] CommanderBubble opened #32 "Incorrect match made when selecting the non-top option when it has a higher 'match'"
when performing a manual match, and selecting one other than the top option, when the top option has a higher match percentage, the top match is taken, despite selecting the other match

these are the options i am given for this particluar example
![match choices](https://user-images.githubusercontent.com/8016060/165112187-a4abdd41-321d-4181-ab34-030571f3cf11.png)

and despite selecting the second

[2022-04-25 14:49] CommanderBubble commented on #32
additional note: when fixing the match for the Show collection, it seems to have applied, though because all the metadata for that is mostly unused, it seems to have little impact

[2022-04-25 15:03] CommanderBubble opened #33 "extremely long title names"
when matching a series that has a very long title, and there are multiple possible matches, the text is so long that it is not all displayed.

Because of this, you cannot tell which series you actually want to select, and because the anidb number is shown after the title, it is not possible to check externally to plex to see which match should be made.

would it be plausible to move the anidb numb

[2022-05-07 08:00] CommanderBubble opened #34 "scanner isn't auto detecting additions to the filesystem"
when new episodes are added to an existing series, the scanner doesn't auto-detect them, and you have to select "Scan Library Files" on the library for the missing files to get added

[2022-05-07 08:03] CommanderBubble opened #35 "deleted series aren't removed from the library"
after removing a series from the filesystem, the library doesn't detect that it has been removed and remove the corresponding show(s). this persists even after a server reboot and a performign "Scan Library Files" and "Empty Trash" on the library manually

[2022-05-07 09:03] Dingmatt commented on #35
Hi,

It sounds like you're having a issue with Plex itself, probably file permissions, as the scanner inside AMSA is triggered by the application.

If running it manually works as expected but it doesn't autorun, then it has to be a overall Plex issue.

Sorry I couldn't be of more help

[2022-05-07 09:03] #35 closed

[2022-05-07 09:03] Dingmatt commented on #34
Hi,

It sounds like you're having a issue with Plex itself, probably file permissions, as the scanner inside AMSA is triggered by the application.

If running it manually works as expected but it doesn't autorun, then it has to be a overall Plex issue.

Sorry I couldn't be of more help

[2022-05-07 09:03] #34 closed

[2022-05-07 09:06] Dingmatt commented on #32
This sounds like a issue with the mapping file, the part which say which anidb series maps to which tvdb one. I'll take a look and add a manual override if necessary.

The mapping file is generated by a separate GitHub project, so sometimes has errors

[2022-05-07 09:07] Dingmatt commented on #33
I'll take a look and see if I can make it an option

[2022-05-07 09:10] Dingmatt commented on #31
Are you still having an issue, on the surface this sounds like a soft anidb IP ban. They usually wear off after 24 hours and are caused by large library refreshes

[2022-05-07 09:13] Dingmatt commented on #15
I plan to add more along with the tvdb v4 update, I'll add anilist to the pile

[2022-05-07 13:13] golddragon007 commented on #31
Ehh, well I have the
Xian Wang De Ri Chang Sheng Huo 2 [anidb-16352]
but I think that's normal as I can't see it on the DB. But yes, probably it was a ban. Can be a queue implemented so the device won't be banned? (this can solve the issue, but it will work only if plex can have cron job like feature)

[2022-07-08 05:21] Benedictum opened #36 "No matches for very common anime files"
I am fairly new to using AMSA / Hama etc but not too new to using plex agents. I wanted to finally get my anime collection in some semblance of order so I ran it and I am seeing some really odd behavior.

For instance, the show Beastars (not an uncommon show at all) when I do a match and then manual search for either the title or [anidb-14659] I get no usable matches.
search by title
![image](http

[2022-07-08 14:43] Dingmatt commented on #36
Hi Benedictum,

I can't see the particular line in your log (as it only gets reported at plugin startup) but it looks like your anime-list is outdated.

The anime list is downloaded (and cached for a certain time) during the plugins startup, please try the following

1. Go to 'Plex Media Server\Plug-in Support\Data\com.plexapp.agents.amsa\DataItems\Cache\' and delete the following files:
- anime-t

[2022-07-08 19:30] Benedictum commented on #36
flushing those cache files is letting it find the titles now, however its  still not updating the titles with the tags consistently or even putting the anidb tag anywhere in the metadata

Its kind of odd the cache was damaged or out of date to begin with as this was a fresh install of the agent.

[2022-07-08 19:57] Benedictum commented on #36
heres a particularly egregious one. Filename and current plex name are hanamonogatari. do a search, get the expected anidb result
![image](https://user-images.githubusercontent.com/17482340/178061692-9eaa952a-bc40-44d4-9e03-6906eb583ac0.png)
select the match and....
![image](https://user-images.githubusercontent.com/17482340/178061771-6e20db72-88d5-4363-b55a-444756a579ea.png)
renames to bakemonoga

[2022-07-08 21:28] Dingmatt commented on #36
ASMA, by default, uses TVDB as its primary data source, with AniDB used to supplement data. TVDB tends to group related shows together and show them as different seasons.

Monogatari for example has five seasons which encompass all the aliases it lists
<img width="802" alt="image" src="https://user-images.githubusercontent.com/14905596/178072390-8cd1d78a-4040-4f85-b39b-45b53be8d408.png">

The TVDB

[2022-07-14 23:46] averycooke commented on #31
I had the same behavior, and can confirm that it was a ban as verified by trying the request in my browser.
Script appears to already be aware of banning and logs indicate that it does delay in attempt to avoid it.

 `INFO (functions:33) - Functions - XMLFromURL() - AniDB AntiBan Delay: 2022-07-14 16:40:30.077739`
`DEBUG (functions:112) - Functions - XMLFromURL() - Not an XML file, AniDB banned po

[2022-09-07 06:44] Ninelpienel commented on #15
Could you also add a option to use AniList as a default source? I want to sync my entire collection to AniList but this just works if the naming and episode splitting is identical.

[2022-10-04 22:33] Dingmatt commented on #31
I've experimented with a cron-like data refresh process in the past but to no avail, after a certain amount of data the anidb API just seems to soft-ban regardless of the duration between calls

[2022-10-06 00:54] SatanSOF2 opened #37 "shows showing up twice"
hi, im new to using this, so i was curious why my shows were showing up 2 times, with one saying the seasons underneath and the other saying show.....  am i doing something wrong? thx in advanced.

![image](https://user-images.githubusercontent.com/91221677/194189738-fbbc205b-c664-4daf-be38-9c9fd0f06d41.png)

[2022-10-06 20:09] Dingmatt commented on #37
Hi,

I'm not entirely sure what's going on there but it's probably a collection issue, the "Log Horizon" is the show and the "Log Horizon (2014) is a collection which contains that show.

I'd advise changing your library setting to hide collections by default, you can always view them from the collections tab if you need to.

![image](https://user-images.githubusercontent.com/14905596/194408839-69

[2022-10-06 22:11] SatanSOF2 commented on #37
ohh thank you, i cant believe i missed that option ><

[2022-10-06 22:11] #37 closed

[2022-10-07 21:15] #31 closed

[2022-10-09 13:18] Jopo-JP commented on #10
Is there any update?

[2022-11-18 22:41] Redhawk18 opened #38 "Agent not visible in agent box"
Hi, I downloaded everything and I got the absolute scanner working, now I'm just having a problem with the agent not showing up. Everything should be in the right place in the Plex directories, but after looking there are no log files either for it.

[2022-11-19 00:53] Redhawk18 commented on #38
solved by removing and purging plex, scanners have to be added after init setup aswell

[2022-11-19 00:53] #38 closed

[2022-11-19 02:03] Redhawk18 opened #39 "names are automatically matched correctly, yet nothing else is"
every show has the [anidb-(id)] in the title, so clearly something is being changed, but none of the other metadata or images are downloading/updating.

[2022-11-19 20:40] Redhawk18 commented on #39
does the plex user have to own these files?

[2022-11-20 00:44] Dingmatt commented on #39
Plex will modify them periodically, so the user it runs under will need read/write permissions

[2022-11-22 00:42] Redhawk18 commented on #39
How do i dis-allow anidb from using japanese names?

[2022-11-22 00:43] Redhawk18 commented on #39
everything works perfectly except that

[2022-11-28 21:04] Dingmatt commented on #39
Go to the agent's settings, there you can tweak the preferred language settings. Though by default the agent should be defaulting to English where available.

![image](https://user-images.githubusercontent.com/14905596/204380442-a8eb4655-b9ed-4ab0-b97b-8f305dd6b3b3.png)